<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ site.Params.mainTitle }}{{ else }}{{ .Title }} — {{ site.Params.mainTitle }}{{ end }}</title>

  {{- $style := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <link rel="icon" type="image/x-icon" href="/favicon_icons16ico.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_icons32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_icons16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_icons180.png">

<link rel="alternate" type="application/rss+xml"
      title="{{ .Site.Title }}" href="{{ "index.xml" | absURL }}">

</head>

<body>
  <div class="page">

    {{ partial "header.html" . }}
    {{ partial "nav.html" . }}

    <div class="container">
      {{ partial "sidebar.html" . }}
      <main class="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    {{ partial "footer.html" . }}

  </div>
</body>
</html>
