<footer class="footer">
  <div class="footer-logos">
    <a href="https://shuyulin1127.com" target="_blank" rel="noopener">
      <img src="https://img.shuyuart.com/shuyupixelart_88x31.gif" alt="Shuyu Pixel Art" width="88" height="31">
    </a>
    <a href="/">
      <img src="https://img.shuyuart.com/shuyuicons_88x31.gif" alt="Shuyu Icons" width="88" height="31">
    </a>
    <a href="https://shuyuart.com" target="_blank" rel="noopener">
      <img src="https://img.shuyuart.com/shuyuart_88x31.gif" alt="Shuyu Art" width="88" height="31">
    </a>
  </div>

  © {{ now.Year }} ShuyuLin

</footer>
