<aside class="sidebar">
  <h3>Categories</h3>
  <nav class="tags">
    <a href="{{ "/" | relURL }}"
       class="tag {{ if .IsHome }}active{{ end }}">
      All ({{ len (where .Site.RegularPages "Section" "posts") }})
    </a>

    {{- range .Site.Taxonomies.categories.Alphabetical }}
    <a href="{{ .Page.RelPermalink }}"
       class="tag {{ if eq $.RelPermalink .Page.RelPermalink }}active{{ end }}">
      {{ .Page.Title }} ({{ .Count }})
    </a>
    {{- end }}
  </nav>

  <h3>Topics</h3>
  {{- $featured := slice "台灣特色" "宜蘭名產"}}
  {{- $tagsByTitle := dict }}
  {{- range .Site.Taxonomies.tags.Alphabetical }}
    {{- $tagsByTitle = merge $tagsByTitle (dict .Page.Title .) }}
  {{- end }}
  <nav class="tags">
    {{- range $featured }}
      {{- $item := index $tagsByTitle . }}
      {{- if $item }}
      <a href="{{ $item.Page.RelPermalink }}"
         class="tag {{ if eq $.RelPermalink $item.Page.RelPermalink }}active{{ end }}">
        {{ $item.Page.Title }} ({{ $item.Count }})
      </a>
      {{- end }}
    {{- end }}
  </nav>
</aside>